bundle:
  name: {{ name }}

sync:
  include:
    - "*.py"
    - "*.yaml"
    - "*.yml"
    - "*.txt"
    - "*.md"

resources:
  apps:
    {{ name }}:
      name: {{ name }}
      description: "{{ name }} - Simple Chatbot (L1)"
      source_code_path: .

targets:
  dev:
    mode: development
    default: true
    workspace:
      root_path: /Workspace/{{ '${workspace.current_user.userName}' }}/.bundle/{{ '${bundle.name}' }}/{{ '${bundle.target}' }}

  prod:
    mode: production
    workspace:
      root_path: /Workspace/{{ '${workspace.current_user.userName}' }}/.bundle/{{ '${bundle.name}' }}/{{ '${bundle.target}' }}
    permissions:
      - user_name: "{{ '${workspace.current_user.userName}' }}"
        level: CAN_MANAGE
